html{overflow-x: hidden;
background: black;}
.inner{
    min-width:100%;
    overflow: hidden;
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(6,auto);
    position: absolute;
    margin: 0;
    text-align: center;
    -moz-transform:translateX(-100%);
    -webkit-transform:translateX(-100%);	
    transform:translateX(-100%);
    -moz-animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
}
#inner11,#inner21{
    animation-delay:-15s;
}
#inner11 a,#inner12 a,#inner21 a,#inner22 a{
    display:block;
    margin:0 .25rem;
    min-width:max-content;
    width:100%;
    white-space: nowrap;
}
#inner12,#inner22{
    animation-delay: 0;
}
@media screen and (max-width:1000px) and (max-height:1000px){
    .inner{
        -moz-animation: scroll 35s linear infinite;
        -webkit-animation: scroll 35s linear infinite;
        animation: scroll 35s linear infinite;
    }
    #inner11,#inner21{
        animation-delay:-17.5s;
    }
}

@-moz-keyframes scroll {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll {
    0%   { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%); 		
    }
    100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
    }
}
