*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    background:black;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#title{
    width:100%;
    text-align: center;
    position: absolute;
    top:15%;
}
#title{
    font-family: Pixel;
    color:#ffff00;
}
#lowtitle{
    width:100%;
    text-align: center;
    position: absolute;
    bottom:10%;
}
#lowtitle{
    font-family: Pixel;
    color:#ffff00;
}
#image{
    cursor: pointer;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
a {
    color:#AC4FC6;
}
@font-face{
    font-family: Pixel;
    src:url(../font/Pixellari.ttf);
}
