*{
    padding:0;
    margin:0;
    scrollbar-color:white #1a1a1a;
    scrollbar-width:thin;
}
html{
    scroll-behavior: smooth;
    z-index: -1002;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background:#1a1a1a;
}
::-webkit-scrollbar-thumb {
    background: white; 
}
body{
    background:black;
    color:white;
    z-index: -1001;
}
.header{
    width:100%;
    height:100%;
}
#title{
    color:#02897e;
    position: absolute;
    top:42.5%;
    transform:translate(0,-50%);
    font-family: Pixel;
    font-size: 6vw;
    margin-top:2.5rem;
    width:100%;
    word-wrap:break-word;
    text-align: center;
    cursor:default;
    animation:flash 2.50s alternate ease-in-out;
    animation-iteration-count: infinite;
}
.mainLink{
    position:absolute;
    bottom:7rem;
    color:white;
    text-decoration: underline;
    font-family: pixel;
    font-size: 2rem;
    min-width: max-content;
}
.mainLinkTop{
    position:absolute;
    top:7rem;
    color:white;
    text-decoration: underline;
    font-family: pixel;
    font-size: 2rem;
    min-width: max-content;
}
#mainLinkLeft{
    left:5rem;
}
#mainLinkTopRight{
    right:5rem;
}
#mainLinkCentre{
    right:25rem;
}
#mainLinkRight{
    right:5rem;
}
#arrowCont{
    cursor:pointer;
    font-size: 2rem;
    z-index: -1;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    bottom:3rem;
    width: 15rem;
    text-align: center;
}
#arrowCont p{
    width:100%;
    text-align: center;
    font-family: Pixel;
    animation:bounce 2s;
    animation-iteration-count: infinite;
}
#ban1{
    top:0;
}
#ban2{
    bottom:0;
}
#ban1,#ban2{
    overflow: hidden;
    font-family:Pixel;
    min-width:100%;
    background:black;
    z-index: 1;
    height:2.5rem;
    line-height: 2.5rem;
    font-size: 2rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: fixed;    
}
.move{
    position: relative;
    top:0;
    z-index: -1000;
}
main{
    margin-top:100vh;
    position: relative;
}
a{
    text-decoration: none;
}
.blog{
    font-family: sans-serif;
    max-width:100%;
    margin:auto;
    padding:.5rem;
    margin-bottom:2rem;
    background:rgba(0, 0, 0, 0.4);
    z-index:0;
    text-align: left;
    width:60rem;
    margin: 1.5rem auto;
}
.blog h1{
    font-family: Pixel;
    font-size: 2rem;
    left:0%;
    /*animation:flash 1.25s alternate ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: -.5s;*/
}
#hlink{
    color: white;
    text-decoration: underline;
    font-size: 1.25rem;
    font-family: Pixel;
}
#hlinkbig{
    color: white;
    text-decoration: underline;
    font-size: 1.5rem;
    font-family: Pixel;
}
#abs{
    color: white;
    font-size: 1.25rem;
}
.blog a{
    color: white;
    text-decoration: underline;
}
.blog p{
    font-size: 1.25rem;
    left:0%;
    height:auto;
    margin: 1.5rem auto;
    color:#cccccc;
}
.proj{
    border-top: 10px solid;
    font-family: sans-serif;
    margin:auto;
    padding:.5rem;
    margin-bottom:2rem;
    background:rgba(0, 0, 0, 0.4);
    z-index:0;
}
.proj h1{
    font-family: Pixel;
    margin:1.5rem;
    font-size: 3rem;
    text-align: center;
    animation:flash 1.25s alternate ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: -.5s;
}
.proj a{
    color: white;
    text-decoration: underline;
}
.projImg{
    max-width:50rem;
    margin:auto;
    /* transition:1s; */
    position: relative;
    left:50%;
    transform: translate(-50%);
}
.gitLink,.arxivLink{
    width:3rem;
    position: relative;
    bottom:-1rem;
}
.gitLinkMul{
    left:-5rem;
}
.arxivLink{
    right:-5rem;
}
.gitImg,.arxivImg{
    height:2.5rem;
}
.pCont{
    font-size: 1.5rem;
    left:0;
    top:40%;
    width:80%;
    height:auto;
    margin:1rem auto ;
    color:#cccccc;
    text-align: center;
}
.proj:nth-last-child(1){
    margin-bottom:5rem;
}
/* 
 * More than 1600px 
 */
@media screen and (min-width:1600px){
    .proj{
        border-width: 20px;
        display:block;
        position: relative;
    }
    .pCont{
        position: relative;
        left:2.5%;
       width:40%;
       display: inline-block;
    }
    .pCont p{
        font-size: 1.75rem;
    }
    .projImg{
        position: absolute;
        right:2.5%;
        bottom:0;
        z-index: -1;
        transform: translate(0);
        max-height:90%;
        display: inline-block;
    }
} 
/*
banner is auto width after certain length
banner is fixed width before certain length (REM)
*/
@font-face{
    font-family: Pixel;
    src:url(../font/Pixellari.ttf);
}
@keyframes flash{
    0%{color:#02897e;}
    20%{color:aqua;}
    40%{color:#77ff77;}
    60%{color:#ff6961;}
    80%{color:#fc107f;}
    100%{color:#b92e34;}
}
@keyframes bounce{
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(.95,1.05)   translateY(0); }
    30%  { transform: scale(1.05,.95)   translateY(-10px); }
    50%  { transform: scale(1,1.05) translateY(0); }
    57%  { transform: scale(1,1)      translateY(0); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
@keyframes scroll{
    from {left:-400px}
    to{left:200px}
}
