*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
    width:100%;
}
body{
    background:black;
    cursor: pointer;
}
#title{
    width:100%;
    text-align: center;
    position: absolute;
    top:15%;
    font-family: Pixel;
    color:#ff6961;
}
#lowtitle{
    width:100%;
    text-align: center;
    position: absolute;
    bottom:8%;
}
#lowtitle{
    font-family: Pixel;
    color:#ff6961;
}
#image{
    position: absolute;
    left:50%;
    top:45%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width:50rem){
    #title{
        top:10%;
    }
}

@font-face{
    font-family: Pixel;
    src:url(../font/Pixellari.ttf);
}
