*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
    width:100%;
}
body{
    height:100%;
    background:black;
    cursor: pointer;
    font-family: Pixel;
    color:#ffff00;
    font-size: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#title,#lowtitle{
    width:100%;
    text-align: center;
    
}
a {
    color:#AC4FC6;
}
@font-face{
    font-family: Pixel;
    src:url(../font/Pixellari.ttf);
}
